.usersPage {
    display: flex;
}

.photoContainer {
    padding: 5px;
}

.usersPhoto {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.userName {

}

.toggleFollowBtn {

}

.locationInfo {

}

.selectedPage {
    font-weight: bold;
}