.dialogs {
    display: grid;
    grid-template-columns: 5fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .item {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.messages .message {
    padding: 10px;
}