.header {
    grid-area: h;
    background-color: #313131;
}

div .loginBlock {
    color: white;
}

.logOut {
    border: 1px solid white;
    color: green;
    width: 10px;
    height: 10px;
    background: white;
}