.nav {
    grid-area: n;
    background-color: #3a5856;
    padding: 20px;
}

.item {
    padding: 5px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover{
    color: red;
}

.item .activeLink {
    color: gold;
}